<h1>Task Manager</h1>

<ul>
<% @tasks.each do |task| %>
  <li><input type="checkbox" value=" "><%= link_to task.title, task_path(task) %>
    <%= link_to "Delete", delete_path(task),
    method: :delete,
    data: { confirm: "Yeah bro ? LET'S GET RID OF THIS SHIT !" } %>
  </li>
<% end %>
</ul>

<%= link_to "Add a new task", new_path %>
